#navbar {
    background: var(--navbar-background);
    height: var(--navbar-height);
    backdrop-filter: blur(6px);
    border-radius: 16px;
    padding: calc(var(--navbar-padding) / 2) var(--navbar-padding);
    margin: var(--navbar-margin);
    position: fixed;
    top: 0;
    z-index: 100;
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#navbar li {
    height: 100%;
    display: flex;
    align-items: center;
}

#navbar a {
    padding: 8px 16px;
    color: var(--font-color);
    font-weight: bold;
}

#navbar a:hover {
    color: var(--font-link-hover-color);
}