.wrapper {
    width: 100%;
    height: calc(100vh - var(--navbar-total-height));
    margin-top: var(--navbar-total-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.wrapper.fade-out {
    opacity: 0;
}

.box {
    padding: 64px 128px;
    margin: 64px;
    background: var(--navbar-background);
    backdrop-filter: blur(6px);
    border-radius: 16px;
}

h1 {
    margin-bottom: 32px;
}

h2 {
    margin-bottom: 16px;
}

.section {
    margin-bottom: 32px;
}

.section:last-child {
    margin-bottom: 0;
}

.align-left {
    text-align: left;
}
