* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    width: 100%;
    height: 100vh;
    background: var(--background-gradient);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    color: var(--font-link-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--font-link-hover-color);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper h1 {
    margin-bottom: 32px;
}

.wrapper .content {
    padding: 64px 128px;
    margin: 64px;
    background: var(--navbar-background);
    backdrop-filter: blur(6px);
    border-radius: 16px;
}